.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #fefeff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  padding: 1rem;
  color: #474646;
  transition: all 0.2s ease;
}

.menuItem:hover {
  background-color: #f4f3f0;
}

.menuItem svg {
  font-size: 1.25rem;
}
