.container {
  padding: 20px;
}

.field {
  margin-bottom: 24px;
}

.fieldTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

label {
  color: #333;
  font-size: 14px;
}

.field label {
  color: #666;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.lawFirm {
  padding-right: 70%;
}

.lawFirm .icon {
  color: #333;
  font-size: 18px;
}
