.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pageNumbers {
  display: flex;
  gap: 0.25rem;
}

.pageNumber,
.paginationButton {
  min-width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #feffff;
  color: #4b5563;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s;
}

.pageNumber:hover,
.paginationButton:hover {
  background-color: #f3f4f6;
}

.pageNumber.active {
  background-color: #c4b7e7;
}
