.tableWrapper {
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.table th {
  text-align: left;
  padding: 1rem;
  font-weight: 600;
}

.table td {
  padding: 1rem;
  color: #111827;
  border-bottom: 1px solid #e5e7eb;
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.2s;
}

.tableRow:hover {
  background-color: lightgray;
}

.tableRowReady {
  background-color: #def7eb;
}
