.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem;
  margin-left: 1.43rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 1px 0 8px rgba(99, 102, 241, 0.2);
}
